<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="panel-menu">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style></style>
    <div>
      <div class="btn-group">
        <button id="dropdownMenu" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Cuenta</span>
        </button>
        <div id="wrapperItems" class="dropdown-menu dropdown-menu-right">
          <template is="dom-repeat" items="{{lcuentas}}">
            <button class="dropdown-item" type="button" on-click="clickCuenta" value="[[item]]">[[item]]</button>
          </template>
        </div>
      </div>
    </div>
  </template>

  <script>
  class PanelMenu extends Polymer.Element {

    static get is() {
      return 'panel-menu';
    }

    static get properties(){
      return {
        //almacena todos los numeros de cuenta del usuario logeado
        lcuentas:{
          type: Array,
          value : function(){
            return [];
          }
        },

        cuenta:{
          type: Number,
          notify: true
        },

        delitem : {
          type: Number,
          observer: '_quitarItem'
        }

      }
    }

    ready() {
      super.ready();
      this.$.dropdownMenu.addEventListener("click", () => {
        this.$.wrapperItems.classList.toggle('show');
      });

      this.obtenerCuentas();
    }

    obtenerCuentas(){
      var request = new XMLHttpRequest();
      request.open("GET", "http://localhost:3002/v2/cuentas/" + sessionStorage.getItem("idCliente"), true);
      request.onreadystatechange = function(aEvt){
        if (request.readyState == 4 && request.status == 200){
          var array = JSON.parse( request.responseText );
          var i=0;
          while(array[i] != "undefined" && array[i] != null){
            this.push('lcuentas', array[i]);
            i++;
          }
          console.log( this.lcuentas );
        }else {
          console.log("error al consultar cuentas")
        }
      }.bind(this);
      request.send();
    }

    clickCuenta(e){
      var numeroCuenta = parseInt(e.target.value);
      this.cuenta = numeroCuenta;
      this.$.wrapperItems.classList.toggle('show', false);
      console.log(this.cuenta);
      console.log(this.delitem);
    }

    quitarItem(){
      console.log("voy a eliminar item del array");
    }

  }

  window.customElements.define(PanelMenu.is, PanelMenu);
  </script>

</dom-module>
