<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../panel-menu/panel-menu.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="gestor-cuentas">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <template>
    <style>

      :host {
        display: block;
        padding: 10px;
      }

      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }

      #tituloPrincipal{
        padding: 18px 0px;
        color: var(--paper-blue-300);
        text-align: center;
      }

      #importe{
        color: var(--paper-green-400);
      }

    </style>

    <div>
      <div id="tituloPrincipal" class="container">
        <h1>Cuentas del cliente</h1>
      </div>
      <div id="wrapperCuentasPrincipal" class="contentCuentas container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 ">
            <panel-menu cuenta="{{cuentaSeleccionada}}"></panel-menu>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 ">
            <h3>Información de la cuenta : {{cuentaSeleccionada}}</h3>
            <h4>Cuenta en pesos: <span id="importe">$[[importeCuentaTXT]]</span></h4>
            <div>
              <button on-click="obtenerCuentas" class="btn-info">Consulta movimientos</button>
            </div>

            <div class="table-responsive">
              <table class="table table-hover">
                  <thead class="thead-dark">
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Importe</th>
                  </thead>
                  <tbody>
                    <template is="dom-repeat" items="{{cuentas}}">
                    <tr on-click="clickDetalles" name="[[item.id]]">
                      <td>{{item.fecha}}</td>
                      <td>{{item.tipo}}</td>
                      <td>${{item.importe}}</td>
                    </tr>
                  </tbody>
                </template>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div id="wrapperDetalles" class="row d-none">
        <div class="container">
          <div class="row" style="justify-content: center;">
            <div>
              <h3>Detalle </h3>
              <span>Cuenta MX [[cuentaSeleccionada]]</span>
              <p>
                [[cuentaDetalle.origen]]
              </p>
              <p>
                [[cuentaDetalle.fecha]]
              </p>
              <p>
                [[cuentaDetalle.tipo]]
              </p>
              <p>
                importe : $ [[cuentaDetalle.importe]]
              </p>
              <p>
                Concepto : [[cuentaDetalle.concepto]]
              </p>
              <paper-button type="" raised on-tap="regresaCuentas">Atras</paper-button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorCuentas extends Polymer.Element {

      static get is() { return 'gestor-cuentas'; }

      static get properties() {
        return {
          cuentas: {
            type: Array,
            value: function() {
              return [];
            },
            //Indicamos que esta propiedad está escuchando un evento
            notify: true
          },

          cuentaSeleccionada: {
            type: Number,
            observer: '_cuentaCambio'

          },

          importeCuenta: {
            type : Number,
            observer: '_formateaEnPesos'
          },

          importeCuentaTXT: {
            type : Number
          },

          cuentaDetalle: {
            type: Object,
            value : function(){
              return {}
            }
          },

          employees: {
            type: Array,
            value: function() {
             return [
               {first: 'Bob', last: 'Smith'},
               {first: 'Sally', last: 'Johnson'}
             ];
           }
         }
        };
      }

      //el siguiente es un observador y se dispara cada vez que la variable cuentaSeleccionada cambia su valor
      _cuentaCambio(newValue, oldValue){
        var request = new XMLHttpRequest();
        var url = "http://localhost:3002/v2/cuentas/importe/total";
        var params = "cuenta=" + newValue + "&cliente=" + sessionStorage.getItem("idCliente");
        request.open("GET", url+"?"+params , true);
        //se crea la funcion flecha para que omitir el this de la funcion
        request.onreadystatechange = (aEvt) => {
          if(request.readyState == 4 && request.status == 200){
            var jsonObj = JSON.parse( request.responseText );
            var totalImporte = parseFloat(jsonObj.total);
            this.importeCuenta = totalImporte;
            //limpiamos cuentas porque ya cambiaron de cuenta cuentaSeleccionada
            this.cuentas = [];
          }else{
            console.log("Error al calcular importe");
          }
        }
        request.send();
      }

      obtenerCuentas(){
        this.set('cuentas', []);
        var request = new XMLHttpRequest();
        var url = "http://localhost:3002/v2/movimientos/";
        var params = "cuenta=" + this.cuentaSeleccionada + "&cliente=" + sessionStorage.getItem("idCliente");
        request.open("GET", url + "?" + params, true);
        request.onreadystatechange = function(aEvt){
          if (request.readyState == 4 && request.status == 200){
            var array = JSON.parse( request.responseText );
            var i=0;
            while(array[i] != "undefined" && array[i] != null){
              array[i].importe  = new Intl.NumberFormat().format(array[i].importe );
              this.push('cuentas', array[i]);
              i++;
            }
          }else {
            console.log("error al consultar cuentas")
          }
        }.bind(this);
        request.send();
      }

      clickDetalles(e){
        var idDetalle = parseInt(e.target.parentElement.name);
        console.log(idDetalle);
        var busquedaCuenta = this.cuentas.filter(function(item) {
          if(item.id == idDetalle){
            return item;
          }
        });
        this.set('cuentaDetalle', busquedaCuenta[0]);
        this.$.wrapperCuentasPrincipal.classList.toggle('d-none', true);
        this.$.wrapperDetalles.classList.toggle('d-none', false);
      }

      regresaCuentas(){
        this.$.wrapperCuentasPrincipal.classList.toggle('d-none', false);
        this.$.wrapperDetalles.classList.toggle('d-none', true);
      }

      _formateaEnPesos(){
        var num = this.importeCuenta;
        this.importeCuentaTXT = new Intl.NumberFormat().format(num);
      }

    }

    window.customElements.define(GestorCuentas.is, GestorCuentas);
  </script>

</dom-module>
