<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../panel-menu/panel-menu.html" />
<link rel="import" href="../pago-servicio/catalogo-convenios.html" />
<link rel="import" href="../pago-servicio/pre-registro.html" />
<link rel="import" href="../pago-servicio/registrar-empresa.html" />
<link rel="import" href="../pago-servicio/resultado-registro-convenio.html" />
<link rel="import" href="../pago-servicio/ingresar-datos-operacion.html" />
<link rel="import" href="../pago-servicio/revisar-operacion-pago-servicios.html" />
<link rel="import" href="../pago-servicio/operacion-exitosa-ps.html" />
<link rel="import" href="../pago-servicio/editar-pago-servicio.html"  />

<dom-module id="pago-servicios">
<link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>

    :host{
      padding: 10px;
    }

    .espacioAltura{
      padding-top: 20px;
      padding-bottom: 20px;
    }

    #tituloPrincipal {
      color: var(--paper-blue-300);
      text-align: center;
    }

    </style>

    <div id="tituloPrincipal" class="container">
      <h1>Pago de servicios</h1>
    </div>

    <div class="espacioAltura d-print-block container">
      <div id="pagoServicios">
        <section class="row">
          <div class="">
            <div>
              <catalogo-otras-cuentas
                titulos=[[titulos_otros_bancos]]
                catalogo_cuentas=[[catalogo_pago_servicios]]
                beneficiario_obj={{empresa_beneficiaria}}
                ruteo_interno={{obj_localizacion}}
                leyenda=[[leyenda_catalogo_otras_cuentas]]
                leyenda_boton=[[leyenda_catalogo_otras_cuentas_boton]]>
              </catalogo-otras-cuentas>
            </div>
          </div>
        </section>
      </div>

      <div id="preRegistroConvenio" class="d-none">
        <catalogo-convenios
          ruteo_interno={{obj_localizacion}}
          empresa_seleccionada={{empresa_registrar}}>
        </catalogo-convenios>
      </div>

      <div id="conveniosEncontrados" class="d-none">
        <pre-registro
          empresa_seleccionada={{empresa_registrar}}
          ruteo_interno={{obj_localizacion}}
          agregar_empresa={{empresa_a_agregar}}>
        </pre-registro>
      </div>

      <div id="agregarDatosRegistroEmpresa" class="d-none">
        <registrar-empresa
          ruteo_interno={{obj_localizacion}}
          agregar_empresa={{empresa_a_agregar}}>
        </registrar-empresa>
      </div>

      <div id="resultadoRegistroConvenio" class="d-none">
        <resultado-registro-convenio
          ruteo_interno={{obj_localizacion}}
          agregar_empresa={{empresa_a_agregar}}
          empresa_a_depositar={{empresa_beneficiaria}}>
        </resultado-registro-convenio>
      </div>

      <div id="ingresaDatosOperacion" class="d-none">
        <ingresar-datos-operacion
          ruteo_interno={{obj_localizacion}}
          empresa_a_depositar={{empresa_beneficiaria}}
          pago_servicio={{obj_pago_servicio}}>
        </ingresar-datos-operacion>
      </div>

      <div id="revisarAutorizar" class="d-none">
        <revisar-operacion-pago-servicios
          ruteo_interno={{obj_localizacion}}
          datos_operacion={{obj_pago_servicio}}
          datos_operacio_exitosa={{operacio_exitosa}}>
        </revisar-operacion-pago-servicios>
      </div>

      <div id="operacionExitosa" class="d-none">
        <operacion-exitosa-ps
          ruteo_interno={{obj_localizacion}}
          datos_operacion={{obj_pago_servicio}}
          datos_operacio_exitosa={{operacio_exitosa}}>
        </operacion-exitosa-ps>
      </div>

      <div id="editarServicio" class="d-none">
        <editar-pago-servicio
          ruteo_interno={{obj_localizacion}}
          beneficiario={{empresa_beneficiaria}}>
        </editar-pago-servicio>
      </div>

    </div>
  </template>

  <script>

    class PagoServicios extends Polymer.Element {

      static get is() { return 'pago-servicios'; }

      static get properties(){
        return {
          titulos_otros_bancos: {
            type: Object,
            value: function(){
              return {t1: 'Nombre corto', t2: 'Nombre de empresa', t3: 'Número convenio', t4: 'Editar'};
            }
          },
          catalogo_pago_servicios: {
            type: Array
          },
          obj_localizacion:{
            type: Object,
            value: function(){
              return {
                seccion: "PS",
                nuevaLocacion: "",
                oldLocacion: "",
                active: false
              };
            }
          },
          empresa_registrar: {
            type: Array,
            value: function(){
              return [];
            }
          },
          empresa_a_agregar: {
            type: Object,
            value: function(){
              return {};
            }
          },
          empresa_beneficiaria: {
            type: Object,
            value: function(){
              return {};
            }
          },
          obj_pago_servicio: {
            type: Object,
            value: function(){
              return {};
            }
          },
          operacio_exitosa : {
            type: Object,
            value: function(){
              return {};
            }
          },
          leyenda_catalogo_otras_cuentas: {
            typer: String,
            value: "Seleccione el servicio a pagar o"
          },
          leyenda_catalogo_otras_cuentas_boton:{
            type: String,
            value: "Registrar un nuevo servicio"
          }
        }

      }

      static get observers() {
        return [
          // Observer method name, followed by a list of dependencies, in parenthesis
          '_cambiaSeccion(obj_localizacion.active)'
        ]
      }

      obtenerCatalogoPagoServicios(){
        this.set('catalogo_pago_servicios', []);
        var request = new XMLHttpRequest();
        var url = "http://localhost:3002/catalogo/pago/servicios";
        var params = "cliente=" + sessionStorage.getItem("idCliente");
        request.open("GET", url + "?" + params, true);
        request.onreadystatechange = function(aEvt){
          if (request.readyState == 4 && request.status == 200){
            var array = JSON.parse( request.responseText );
            var i=0;
            while(array[i] != "undefined" && array[i] != null){
              array[i].beneficiario=array[i].razonSocial;
              array[i].numTarjetaCuenta=array[i].numConvenio;
              this.push('catalogo_pago_servicios', array[i]);
              i++;
            }
          }else {
            if(request.readyState == 4){
              console.log("error al consultar cuentas" + request.status);
            }
          }
        }.bind(this);
        request.send();
      }

      _cambiaSeccion(newValue, oldValue){
        if(this.obj_localizacion.active == true){
          this.obj_localizacion.active = false;
          switch (this.obj_localizacion.seccion) {
            case "PS":
              if(this.obj_localizacion.nuevaLocacion == "regresar"){
                if(this.obj_localizacion.oldLocacion == "registrar"){
                  this.$.pagoServicios.classList.toggle('d-none', false);
                  this.$.preRegistroConvenio.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "convenios"){
                  this.$.preRegistroConvenio.classList.toggle('d-none', false);
                  this.$.conveniosEncontrados.classList.toggle('d-none', true);
                  this.set('obj_localizacion.nuevaLocacion', "registrar");
                }else if(this.obj_localizacion.oldLocacion == "registrarEmpresa"){
                  this.$.conveniosEncontrados.classList.toggle('d-none', false);
                  this.$.agregarDatosRegistroEmpresa.classList.toggle('d-none', true);
                  this.set('obj_localizacion.nuevaLocacion', "convenios");
                }else if(this.obj_localizacion.oldLocacion == "resultadoRegistroConvenio"){
                  this.$.resultadoRegistroConvenio.classList.toggle('d-none', true);
                  this.$.agregarDatosRegistroEmpresa.classList.toggle('d-none', false);
                  this.set('obj_localizacion.nuevaLocacion', "registrarEmpresa");
                }else if(this.obj_localizacion.oldLocacion == "ingresaDatosOperacion"){
                  this.$.ingresaDatosOperacion.classList.toggle('d-none', true);
                  this.$.pagoServicios.classList.toggle('d-none', false);
                  this.obtenerCatalogoPagoServicios();
                }else if(this.obj_localizacion.oldLocacion == "revisarAutorizar"){
                  this.$.ingresaDatosOperacion.classList.toggle('d-none', false);
                  this.$.revisarAutorizar.classList.toggle('d-none', true);
                  this.set('obj_localizacion.nuevaLocacion', "ingresaDatosOperacion");
                }else if(this.obj_localizacion.oldLocacion == "operacionExitosa"){
                  this.$.pagoServicios.classList.toggle('d-none', false);
                  this.$.operacionExitosa.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "editar"){
                  this.$.editarServicio.classList.toggle('d-none', true);
                  this.$.pagoServicios.classList.toggle('d-none', false);
                  this.obtenerCatalogoPagoServicios();
                }
              }else if(this.obj_localizacion.nuevaLocacion == "registrar"){
                this.$.pagoServicios.classList.toggle('d-none', true);
                this.$.preRegistroConvenio.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "convenios"){
                this.$.preRegistroConvenio.classList.toggle('d-none', true);
                this.$.conveniosEncontrados.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "registrarEmpresa"){
                this.$.conveniosEncontrados.classList.toggle('d-none', true);
                this.$.agregarDatosRegistroEmpresa.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "resultadoRegistroConvenio"){
                this.$.resultadoRegistroConvenio.classList.toggle('d-none', false);
                this.$.agregarDatosRegistroEmpresa.classList.toggle('d-none', true);
                this.obtenerCatalogoPagoServicios();
              }else if(this.obj_localizacion.nuevaLocacion == "ingresaDatosOperacion"){
                this.$.resultadoRegistroConvenio.classList.toggle('d-none', true);
                this.$.ingresaDatosOperacion.classList.toggle('d-none', false);
                this.$.pagoServicios.classList.toggle('d-none', true);
              }else if(this.obj_localizacion.nuevaLocacion == "revisarAutorizar"){
                this.$.ingresaDatosOperacion.classList.toggle('d-none', true);
                this.$.revisarAutorizar.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "operacionExitosa"){
                this.$.revisarAutorizar.classList.toggle('d-none', true);
                this.$.operacionExitosa.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "editar"){
                this.$.editarServicio.classList.toggle('d-none', false);
                this.$.pagoServicios.classList.toggle('d-none', true);
              }
            break;
          }
        }else if(this.catalogo_pago_servicios == undefined ){
          this.obtenerCatalogoPagoServicios();
        }
      }


    }

    window.customElements.define(PagoServicios.is, PagoServicios);
  </script>
</dom-module>
