<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html" >
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../panel-menu/panel-menu.html" />
<link rel="import" href="../transferencias-app/catalogo-otras-cuentas.html" />
<link rel="import" href="../transferencias-app/pagar-otras-cuentas.html" />
<link rel="import" href="../transferencias-app/editar-cuenta.html" />
<link rel="import" href="../transferencias-app/revisar-operacion.html" />
<link rel="import" href="../transferencias-app/operacion-exitosa.html"  />

<dom-module id="pago-transferencias">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>
      :host{
        padding: 10px;
      }
      #tituloPrincipal {
        color: var(--paper-blue-300);
        text-align: center;
      }

      #cortinaMisCuentas, #cortinaOtrasCuentas, #cortinaOtrosBancos{
        padding-top: 10px;
      }

      .alturaOptions{
        padding: 10px 0px;
      }

      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }

      .regresar{
        text-align: right;
      }

      .espacioAltura{
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .wrapper-seleccion-cuenta{
        align-items: flex-end;
      }

      .cuentaRetiro{
        color: var(--google-green-300);
      }

    </style>

    <div>
      <div id="tituloPrincipal" class="container">
        <h1>Alta de movimientos / transferencias</h1>
      </div>

      <div id="cuentaRetiro" class="espacioAltura container">
        <div >
          <legend>Selecciona la cuenta de retiro:</legend>
        </div>
        <div class="row wrapper-seleccion-cuenta">
          <div class="col-3 col-sm-3 col-md-3 col-lg-2">
            <panel-menu cuenta="{{cuentaRetiro}}" lcuentas={{cuentasSelect}}></panel-menu>
          </div>
          <div class="col-9 col-sm-9 col-md-9 col-lg-10 cuentaRetiro">
            <span> [[cuentaRetiro]] - $[[importeCuenta]] - M.N</span>
          </div>
        </div>
      </div>

      <div class="container">
        <fieldset id="cortinaTipoDeposito" class="espacioAltura">
          <legend>Selecciona el tipo de depósito:</legend>
          <input type="radio" name="cortinaA" id="misCuentas" value="misCuentas"  > Mis cuentas<br>
          <input type="radio" name="cortinaA" id="otrasCuentas" value="otrasCuentas" > Otras cuentas Bancomer<br>
          <input type="radio" name="cortinaA" id="otrosBancos" value="otrosBancos" > Otros bancos<br>
        </fieldset>
      </div>
    </div>

    <div id="cortinaMisCuentas" class="d-none d-print-block container ">
      <section id="formularioMisCuentas">
        <div class="row">
          <div class="col-xs-5 col-sm-9 col-md-6 col-lg-4">
            <h3>Mis cuentas</h3>
            <h4>Seleccione cuenta de deposito : </h4>
            <div class="row">
              <div class="col-3 col-sm-3 col-md-4 col-lg-4">
                <panel-menu cuenta="{{cuentaBeneficiaria}}" lcuentas="{{cuentadisp}}"></panel-menu>
              </div>
              <div class="col-9 col-sm-9 col-md-8 col-lg-8">
                <span>[[cuentaBeneficiaria]]</span>
              </div>
            </div>
            <span>Fecha de operación: </span>
            <input id="inputFecha1" type='text' readonly disabled class=" form-control" value="" />
            <form id="formMisCuentas">
              <span>Importe: </span>
              <div class="row">
                <div class="col-7 col-sm-6 col-md-7 col-lg-8">
                  <input id="importeMisCuentas" required type='text' class="form-control" on-blur="formateaEnPesos"/>
                </div>
                <div class="col-5 col-sm-6 col-md-5 col-lg-4">
                  <span>M.N</span>
                </div>
              </div>
              <span>Concepto: </span>
              <input id="conceptoMisCuentas" type='text' class="form-control" required/>
              <div style="padding-top:10px">
                <paper-button raised on-tap="regresarTiposCuentas">Atras</paper-button>
                <paper-button type="submit" raised on-tap="enviaDepositoVerifica">Continuar</paper-button>
                <input id="submitMisCuentas" type="submit" value="depositarOculto" class="d-none"/>
                <input id="resetAllMisCuentas" type="reset" value="resetea todo" class="d-none"/>
              </div>
            </form>
          </div>
        </div>
      </section>

      <section id="wrapperVerificaDeposito" class="d-none">
        <div>
          <revisar-operacion
            datos_operacion="[[obj_datos_operacion]]"
            ruteo_interno={{obj_localizacion}}
            datos_operacio_exitosa={{operacio_exitosa}}>
          </revisar-operacion>
        </div>
      </section>

      <section id="operacionExitosaMC" class="d-none" >
        <div>
          <operacion-exitosa
            datos_operacio_exitosa=[[operacio_exitosa]]
            ruteo_interno={{obj_localizacion}}>
          </operacion-exitosa>
        </div>
      </section>
    </div>

    <div id="cortinaOtrasCuentas" class="d-none d-print-block container">
      <h3>Otras cuentas bancomer</h3>
      <div id="registraCB">
        <section class="row">
          <div class="">
            <div>
              <catalogo-otras-cuentas
                titulos=[[titulos_otros_bancos]]
                catalogo_cuentas=[[catalogo_cuentas_bancomer]]
                beneficiario_obj={{obj_beneficiario}}
                ruteo_interno={{obj_localizacion}}
                leyenda=[[leyenda_catalogo_otras_cuentas]]
                leyenda_boton=[[leyenda_catalogo_otras_cuentas_boton]]>
              </catalogo-otras-cuentas>

              <div>
                <div class="regresar" >
                  <paper-button raised on-tap="regresarSeleccionTipoCuentaCB">Atras</paper-button>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <section id="formularioCuentasBancomer" class="d-none">
        <div class="row">
          <div class="col-xs-5 col-sm-9 col-md-6 col-lg-5">
            <form id="formCuentasBancomer">
              <div class="">
              <span>Tipo de cuenta: </span>
              <select id="tipoCuentaCB" required>
                <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                <option value="Tarjeta de débito">Tarjeta de débito</option>
              </select>

              </div>
              <div class="d-none">
                <span>Banco destino: </span>
                <input id="bancoDestinoCB" type='text' class="form-control" readonly value="Bancomer BBVA"/>
              </div>
              <span>Número de tarjeta/cuenta: </span>
              <input id="numTarjetaCuentaCB" type='text' class="form-control" pattern="[0-9]{16,16}" required="required" title="requiere 16 digitos" />
              <span>Beneficiario: </span>
              <input id="beneficiarioCB" type='text' class="form-control" required/>
              <span>Nombre Corto: </span>
              <input id="nombreCortoCB" type='text' class="form-control" required/>
              <div style="padding-top:10px">
                <paper-button raised on-tap="regresarRegistraCuentaCB">Atras</paper-button>
                <paper-button raised on-tap="guardarCatalogoCB">Registrar</paper-button>
                <input id="submitCB" type="submit" value="depositarOculto" class="d-none buttonSubmit"/>
                <input id="resetAllCB" type="reset" value="resetea todo" class="d-none"/>
              </div>
            </form>
          </div>
        </div>
      </section>
      <section id="wrapperIngresarDatosCB" class="d-none">
        <div>
          <pagar-otras-cuentas
            beneficiario="[[obj_beneficiario]]"
            ruteo_interno={{obj_localizacion}}
            cuenta_retiro=[[cuentaRetiro]]
            datos_operacion={{obj_datos_operacion}}>
          </pagar-otras-cuentas>
        </div>
      </section>
      <section id="editarCuentaCB" class="d-none">
        <div>
          <editar-cuenta beneficiario="[[obj_beneficiario]]"
            ruteo_interno={{obj_localizacion}}>
          </editar-cuenta>
        </div>
      </section>
      <section id="renviarAutorizarCB" class="d-none">
        <div>
          <revisar-operacion
            datos_operacion="[[obj_datos_operacion]]"
            ruteo_interno={{obj_localizacion}}
            datos_operacio_exitosa={{operacio_exitosa}}>
          </revisar-operacion>
        </div>
      </section>
      <section id="operacionExitosaCB" class="d-none" >
        <div>
          <operacion-exitosa
            datos_operacio_exitosa=[[operacio_exitosa]]
            ruteo_interno={{obj_localizacion}}>
          </operacion-exitosa>
        </div>
      </section>
    </div>

    <div id="cortinaOtrosBancos" class="d-none d-print-block container">
      <h3>Otros Bancos</h3>
      <div id="registraCuentaOB">
        <section class="row">
          <div class="">
            <div>
              <catalogo-otras-cuentas
                ir_confirmar_pago={{muestra_confirmar_pago}}
                titulos=[[titulos_otros_bancos]]
                catalogo_cuentas=[[catalogo_otros_bancos]]
                beneficiario_obj={{obj_beneficiario}}
                ruteo_interno={{obj_localizacion}}
                leyenda=[[leyenda_catalogo_otras_cuentas]]
                leyenda_boton=[[leyenda_catalogo_otras_cuentas_boton]]>
              </catalogo-otras-cuentas>

              <div>
                <div class="regresar" >
                  <paper-button raised on-tap="regresarSeleccionTipoCuenta">Atras</paper-button>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <section id="formularioOtrasCuentas" class="d-none">
        <div class="row">
          <div class="col-xs-5 col-sm-9 col-md-6 col-lg-5">
            <form id="formOtrasCuentas">
              <div class="alturaOptions">
                <span>Tipo de cuenta: </span>
                <select id="tipoCuentaOB" required>
                  <option >Selecciona</option>
                  <option value="Tarjeta de crédito">Tarjeta de crédito</option>
                  <option value="Tarjeta de débito">Tarjeta de débito</option>
                </select>
              </div>
              <div class="alturaOptions">
                <span>Banco destino: </span>
                <select id="bancoDestinoOB" required>
                  <option >Selecciona</option>
                  <option value="Caja de ahorro México">Caja de ahorro México</option>
                  <option value="Promex">Promex</option>
                  <option value="Banca serfin">Banca serfin</option>
                </select>
              </div>
              <span>Número de tarjeta/cuenta: </span>
              <input id="numTarjetaCuentaOB" type='text' class="form-control"  pattern="[0-9]{16,16}" required="required" title="requiere 16 digitos" />
              <span>Beneficiario: </span>
              <input id="beneficiarioOB" type='text' class="form-control" required/>
              <span>Nombre Corto: </span>
              <input id="nombreCortoOB" type='text' class="form-control" required/>
              <div style="padding-top:10px">
                <paper-button raised on-tap="regresarRegistraCuentaOB">Atras</paper-button>
                <paper-button raised on-tap="guardarCatalogoOtrasCuentas">Confirmar</paper-button>
                <input id="submitOtrosBancos" type="submit" value="depositarOculto" class="d-none buttonSubmit"/>
                <input id="resetAllOB" type="reset" value="resetea todo" class="d-none"/>
              </div>
            </form>
          </div>
        </div>
      </section>

      <section id="wrapperConfirmarOB" class="d-none">
        <div>
          <pagar-otras-cuentas
            beneficiario="[[obj_beneficiario]]"
            ruteo_interno={{obj_localizacion}}
            cuenta_retiro=[[cuentaRetiro]]
            datos_operacion={{obj_datos_operacion}}>
          </pagar-otras-cuentas>
        </div>
      </section>

      <section id="editarCuenta" class="d-none">
        <div>
          <editar-cuenta beneficiario="[[obj_beneficiario]]"
            ruteo_interno={{obj_localizacion}}>
          </editar-cuenta>
        </div>
      </section>

      <section id="reviarAutorizarOB" class="d-none">
        <div>
          <revisar-operacion
            datos_operacion="[[obj_datos_operacion]]"
            ruteo_interno={{obj_localizacion}}
            datos_operacio_exitosa={{operacio_exitosa}}>
          </revisar-operacion>
        </div>
      </section>

      <section id="operacionExitosa" class="d-none" >
        <div>
          <operacion-exitosa
            datos_operacio_exitosa=[[operacio_exitosa]]
            ruteo_interno={{obj_localizacion}}>
          </operacion-exitosa>
        </div>
      </section>
    </div>

  </template>

  <script>

    class TransferenciasApp extends Polymer.Element {

      static get is() { return 'pago-transferencias'; }

      static get properties(){
        return {
          numCortina : {
            type : Number,
            value : 0
          },
          cuentaRetiro : {
            type : Number,
            observer: '_cuentaRetiroCambio'
          },
          cuentaBeneficiaria : {
            type : Number
          },
          cuentadisp: {
            type: Array,
            value : function(){
              return [];
            }
          },
          cuentasSelect : {
            type : Array,
            value : function(){
              return [];
            }
          },
          ir_editar_cuenta : {
            type: Boolean,
            observer: '_muestraEditarCuenta'
          },
          muestra_confirmar_pago:{
            type: Boolean,
            observer: '_muestraConfirmarPago'
          },
          catalogo_otros_bancos: {
            type: Array,
            value: function(){
              return [];
            }
          },
          catalogo_cuentas_bancomer: {
            type: Array,
            value: function(){
              return [];
            }
          },
          titulos_otros_bancos: {
            type: Object,
            value: function(){
              return {t1: 'Nombre corto', t2: 'Beneficiario', t3: 'Cuenta o Tarjeta', t4: 'Editar'};
            }
          },
          obj_beneficiario: {
            type: Object,
            value: function(){
              return {};
            }
          },
          importeCuenta : {
            type: Number
          },
          obj_localizacion:{
            type: Object,
            value: function(){
              return {
                seccion: "",
                locacion: "",
                nuevaLocacion: "",
                active: false
              };
            }
          },
          obj_datos_operacion: {
            type: Object
          },
          operacio_exitosa: {
            type: Object
          },
          leyenda_catalogo_otras_cuentas:{
            type: String,
            value: "Selecciona el beneficiario o"
          },
          leyenda_catalogo_otras_cuentas_boton:{
            type: String,
            value: "registre una nueva cuenta"
          }

        }
      }

      static get observers() {
        return [
          // Observer method name, followed by a list of dependencies, in parenthesis
          '_cambiaSeccion(obj_localizacion.active)'
        ]
      }

      ready() {
        super.ready();
        this.$.misCuentas.addEventListener('click', e => { this._cambiaCortina(e) });
        this.$.otrosBancos.addEventListener('click', e => { this._cambiaCortina(e) });
        this.$.otrasCuentas.addEventListener('click', e => { this._cambiaCortina(e) });
      }

      _cambiaCortina(e) {
        this.obj_datos_operacion = {};
        this.obj_localizacion = {};
        this.operacio_exitosa = {};
        this.obj_beneficiario = {};
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
          dd = '0'+dd
        }

        if(mm<10) {
          mm = '0'+mm
        }
        today = dd + '/' + mm + '/' + yyyy;

        if( e.target.value == "misCuentas"){
          this.$.resetAllMisCuentas.click();
          this.$.inputFecha1.value = today;
          this.$.cortinaMisCuentas.classList.remove('d-none');
          this.$.cortinaOtrasCuentas.classList.add('d-none');
          this.$.cortinaOtrosBancos.classList.add('d-none');
          this.$.cortinaTipoDeposito.classList.add('d-none');
          this.obj_localizacion = {
            seccion: "MC",
            nuevaLocacion: "formularioMisCuentas",
            active: false
          };
        }else if( e.target.value == "otrasCuentas"){
          this.obtenerCatalogoCuentasBancomer();
          this.$.cortinaMisCuentas.classList.add('d-none');
          this.$.cortinaOtrasCuentas.classList.remove('d-none');
          this.$.cortinaOtrosBancos.classList.add('d-none');
          this.$.cortinaTipoDeposito.classList.toggle('d-none', true);
          this.$.registraCB.classList.toggle('d-none', false);
          this.obj_localizacion = {
            seccion: "CB",
            locacion: "registraCB",
            active: false
          };
        }else if( e.target.value == "otrosBancos"){
          this.obtenerCatalogoOtrosBancos();
          // this.$.inputFecha3.value = today;
          this.$.cortinaMisCuentas.classList.add('d-none');
          this.$.cortinaOtrasCuentas.classList.add('d-none');
          this.$.cortinaOtrosBancos.classList.remove('d-none');
          this.$.cortinaTipoDeposito.classList.toggle('d-none', true);
          this.$.registraCuentaOB.classList.remove('d-none');
          this.obj_localizacion = {
            seccion: "OB",
            locacion: "registraCuentaOB",
            active: false
          };
        }
      }

      _cuentaRetiroCambio(newValue, oldValue){

        var request = new XMLHttpRequest();
        var url = "http://localhost:3002/v2/cuentas/importe/total";
        var params = "cuenta=" + newValue + "&cliente=" + sessionStorage.getItem("idCliente");
        request.open("GET", url+"?"+params , true);
        request.onreadystatechange = (aEvt) => {
          if(request.readyState == 4 && request.status == 200){
            var jsonObj = JSON.parse( request.responseText );
            var totalImporte = parseFloat(jsonObj.total);
            this.importeCuenta = new Intl.NumberFormat().format(totalImporte);
          }else{
            console.log("Error al calcular importe");
          }
        }
        request.send();

        this.splice('cuentadisp', 0, this.cuentasSelect.length);
        for(var i=0; i <= this.cuentasSelect.length-1; i++){
          this.push('cuentadisp', this.cuentasSelect[i]);
        }

        for( var i = 0; i <= this.cuentadisp.length-1; i++){
          if ( this.cuentadisp[i] === this.cuentaRetiro) {
            this.splice('cuentadisp', i, 1);
          }
        }

        if (this.cuentadisp.length == 0){
          this.push('cuentadisp', "No tiene más cuentas");
        }
      }

      //Mis cuentas envia deposito
      enviaDepositoVerifica(){
        if (this.$.formMisCuentas.checkValidity()) {
          if(this.cuentaRetiro == undefined){
            alert("Es necesario seleccionar la cuenta de retiro");
            return;
          }else if (this.cuentaBeneficiaria == undefined){
            alert("Es necesario seleccionar la cuenta destino");
            return;
          }
          this.obj_datos_operacion = {};
          this.set('obj_datos_operacion.fecha', this.$.inputFecha1.value);
          this.set('obj_datos_operacion.importe', "" + this.$.importeMisCuentas.value);
          this.set('obj_datos_operacion.tipoOperacion', "Pago mis cuentas Bancomer");
          this.set('obj_datos_operacion.concepto', this.$.conceptoMisCuentas.value);
          this.set('obj_datos_operacion.origen', "Pago cuentas propias");
          this.set('obj_datos_operacion.bancoDestino', "Bancomer");
          this.set('obj_datos_operacion.numTarjetaCuenta', this.cuentaBeneficiaria);
          this.set('obj_datos_operacion.cuentaRetiro', this.cuentaRetiro);

          this.set('obj_localizacion.oldLocacion', this.obj_localizacion.nuevaLocacion);
          this.set('obj_localizacion.nuevaLocacion', "revisarOperacion");
          this.set('obj_localizacion.active', true);
        }else{
          this.$.submitMisCuentas.click();
        }

      }

      regresarSeleccionTipoCuenta(){
        this.$.otrosBancos.checked = false
        this.$.cortinaTipoDeposito.classList.toggle('d-none', false);
        this.$.cortinaOtrosBancos.classList.toggle('d-none', true);
      }

      regresarSeleccionTipoCuentaCB(){
        this.$.otrasCuentas.checked = false;
        this.$.cortinaOtrasCuentas.classList.add('d-none', true);
        this.$.cortinaTipoDeposito.classList.toggle('d-none', false);
      }

      regresarRegistraCuentaOB(){
        this.obtenerCatalogoOtrosBancos();
        this.$.registraCuentaOB.classList.toggle('d-none', false);
        this.$.formularioOtrasCuentas.classList.toggle('d-none', true);
        this.muestra_confirmar_pago = false;
      }

      regresarRegistraCuentaCB(){
        this.obtenerCatalogoCuentasBancomer();
        this.$.registraCB.classList.toggle('d-none', false);
        this.$.formularioCuentasBancomer.classList.toggle('d-none', true);
      }

      obtenerCatalogoOtrosBancos(){
        this.set('catalogo_otros_bancos', []);
        var request = new XMLHttpRequest();
        var url = "http://localhost:3002/catalogo/transferencias/otrosBancos";
        var params = "cliente=" + sessionStorage.getItem("idCliente");
        request.open("GET", url + "?" + params, true);
        request.onreadystatechange = function(aEvt){
          if (request.readyState == 4 && request.status == 200){
            var array = JSON.parse( request.responseText );
            var i=0;
            while(array[i] != "undefined" && array[i] != null){
              array[i].tipoOperacion = "Pago otros bancos";
              array[i].origenOperacion = "Transferir - Otros bancos";
              array[i].concepto = "Transferencia otros bancos";
              this.push('catalogo_otros_bancos', array[i]);
              i++;
            }
          }else {
            if(request.readyState == 4){
              console.log("error al consultar cuentas" + request.status);
            }
          }
        }.bind(this);
        request.send();
      }

      obtenerCatalogoCuentasBancomer(){
        this.set('catalogo_cuentas_bancomer', []);
        var request = new XMLHttpRequest();
        var url = "http://localhost:3002/catalogo/transferencias/cuentas/bancomer";
        var params = "cliente=" + sessionStorage.getItem("idCliente");
        request.open("GET", url + "?" + params, true);
        request.onreadystatechange = function(aEvt){
          if (request.readyState == 4 && request.status == 200){
            var array = JSON.parse( request.responseText );
            var i=0;
            while(array[i] != "undefined" && array[i] != null){
              array[i].tipoOperacion = "Pago cuentas bancomer";
              array[i].origenOperacion = "Transferir - Cuentas Bancomer";
              array[i].concepto = "Transferencia a cuentas Bancomer";
              this.push('catalogo_cuentas_bancomer', array[i]);
              i++;
            }
          }else {
            if(request.readyState == 4){
              console.log("error al consultar cuentas" + request.status);
            }
          }
        }.bind(this);
        request.send();
      }

      guardarCatalogoOtrasCuentas(){
        if (this.$.formOtrasCuentas.checkValidity()) {
          var resposeHTTP = new XMLHttpRequest();
          var url = 'http://localhost:3002/guarda/cuenta/otros/bancos';
          var idCliente = parseInt(sessionStorage.getItem("idCliente"));

          var objCuentaRegistrar = {
            objCuenta : {
              tipoDeCuenta : this.$.tipoCuentaOB.value,
              bancoDestino : this.$.bancoDestinoOB.value,
              numTarjetaCuenta : this.$.numTarjetaCuentaOB.value,
              beneficiario : this.$.beneficiarioOB.value,
              nombreCorto : this.$.nombreCortoOB.value,
              idCliente : idCliente
            },
            datosAcceso : {
              idCliente : idCliente
            }
          }

          resposeHTTP.open('POST', url, true);
          resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

          resposeHTTP.onreadystatechange = (aEvt) => {
            if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
              console.log(resposeHTTP.responseText);
              var jsonResult = JSON.parse( resposeHTTP.responseText );
              if(jsonResult.statusCode == 200){
                this.set('obj_beneficiario', objCuentaRegistrar.objCuenta);
                this.set('obj_beneficiario.tipoOperacion', "Pago otros bancos");
                this.set('obj_beneficiario.origenOperacion', "Transferir - Otros bancos");
                this.set('obj_beneficiario.concepto', "Transferencia otros bancos");
                this.$.resetAllOB.click();
                this.$.wrapperConfirmarOB.classList.toggle('d-none', false);
                this.$.formularioOtrasCuentas.classList.toggle('d-none', true);
                this.set('obj_localizacion.nuevaLocacion', "editar");
              }
            }else {
              if(resposeHTTP.readyState == 4){
                //mostrar error al usuario
                alert(resposeHTTP.status);
                console.log("Error al guardar nueva cuenta");
              }
            }
          }

          resposeHTTP.send(JSON.stringify(objCuentaRegistrar));

        }else{
          this.$.submitOtrosBancos.click();
        }
      }

      guardarCatalogoCB(){
        if (this.$.formCuentasBancomer.checkValidity()) {
          var resposeHTTP = new XMLHttpRequest();
          var url = 'http://localhost:3002/guarda/cuentas/bancomer';
          var idCliente = parseInt(sessionStorage.getItem("idCliente"));

          var objCuentaRegistrar = {
            objCuenta : {
              tipoDeCuenta : this.$.tipoCuentaCB.value,
              bancoDestino : this.$.bancoDestinoCB.value,
              numTarjetaCuenta : this.$.numTarjetaCuentaCB.value,
              beneficiario : this.$.beneficiarioCB.value,
              nombreCorto : this.$.nombreCortoCB.value,
              idCliente : idCliente
            },
            datosAcceso : {
              idCliente : idCliente
            }
          }

          resposeHTTP.open('POST', url, true);
          resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

          resposeHTTP.onreadystatechange = (aEvt) => {
            if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
              console.log(resposeHTTP.responseText);
              var jsonResult = JSON.parse( resposeHTTP.responseText );
              if(jsonResult.statusCode == 200){
                this.set('obj_beneficiario', objCuentaRegistrar.objCuenta);
                this.set('obj_beneficiario.tipoOperacion', "Pago cuentas bancomer");
                this.set('obj_beneficiario.origenOperacion', "Transferir - Cuentas Bancomer");
                this.set('obj_beneficiario.concepto', "Transferencia a cuentas Bancomer");
                this.$.resetAllCB.click();
                this.$.wrapperIngresarDatosCB.classList.toggle('d-none', false);
                this.$.formularioCuentasBancomer.classList.toggle('d-none', true);
                this.set('obj_localizacion.nuevaLocacion', "editar");
              }
            }else {
              if(resposeHTTP.readyState == 4){
                //mostrar error al usuario
                alert(resposeHTTP.status);
                console.log("Error al guardar nueva cuenta");
              }
            }
          }

          resposeHTTP.send(JSON.stringify(objCuentaRegistrar));

        }else{
          this.$.submitCB.click();
        }
      }

      _muestraConfirmarPago(){
        if(this.muestra_confirmar_pago == true){
          this.$.registraCuentaOB.classList.toggle('d-none', true);
          this.$.wrapperConfirmarOB.classList.toggle('d-none', false);
        }
      }

      _cambiaSeccion(newValue, oldValue){
        if(this.obj_localizacion.active == true){
          this.obj_localizacion.active = false;
          switch (this.obj_localizacion.seccion) {
            case "MC":
              if(this.obj_localizacion.nuevaLocacion == "regresar"){
                if(this.obj_localizacion.oldLocacion == "revisarOperacion"){
                  this.$.formularioMisCuentas.classList.toggle('d-none', false);
                  this.$.wrapperVerificaDeposito.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "operacionExitosa"){
                  var temp = this.cuentaRetiro;
                  this.cuentaRetiro = 1;
                  this.$.cortinaTipoDeposito.classList.toggle('d-none', false);
                  this.$.operacionExitosaMC.classList.toggle('d-none', true);
                  this.$.formularioMisCuentas.classList.toggle('d-none', false);
                  this.$.cortinaMisCuentas.classList.toggle('d-none', true);
                  this.$.misCuentas.checked = false;
                  setTimeout(()=>{
                    this.cuentaRetiro = temp;
                  }, 600);
                }
              }else if(this.obj_localizacion.nuevaLocacion == "revisarOperacion"){
                this.$.formularioMisCuentas.classList.toggle('d-none', true);
                this.$.wrapperVerificaDeposito.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "operacionExitosa"){
                this.$.operacionExitosaMC.classList.toggle('d-none', false);
                this.$.wrapperVerificaDeposito.classList.toggle('d-none', true);
              }
            break;
            //para controlar la seccion de otros bancos
            case "OB":
              if(this.obj_localizacion.nuevaLocacion == "regresar"){
                if(this.obj_localizacion.oldLocacion == "editar"){
                  this.obtenerCatalogoOtrosBancos();
                  this.$.registraCuentaOB.classList.toggle('d-none', false);
                  this.$.editarCuenta.classList.toggle('d-none', true);
                  this.$.wrapperConfirmarOB.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "ingresaDatosOperacion"){
                  this.$.wrapperConfirmarOB.classList.toggle('d-none', true);
                  this.$.registraCuentaOB.classList.toggle('d-none', false);
                }else if(this.obj_localizacion.oldLocacion == "revisarOperacion"){
                  this.obj_localizacion.nuevaLocacion = "ingresaDatosOperacion";
                  this.$.wrapperConfirmarOB.classList.toggle('d-none', false);
                  this.$.cuentaRetiro.classList.toggle('d-none', false);
                  this.$.reviarAutorizarOB.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "operacionExitosa"){
                  var temp = this.cuentaRetiro;
                  this.cuentaRetiro = 1;
                  this.$.cortinaTipoDeposito.classList.toggle('d-none', false);
                  this.$.operacionExitosa.classList.toggle('d-none', true);
                  this.$.otrosBancos.checked = false;
                  this.$.cortinaOtrosBancos.classList.toggle('d-none', true);
                  this.$.cuentaRetiro.classList.toggle('d-none', false);
                  setTimeout(()=>{
                    this.cuentaRetiro = temp;
                  }, 600);

                }
              }
              else if(this.obj_localizacion.nuevaLocacion == "editar"){
                this.$.registraCuentaOB.classList.toggle('d-none', true);
                this.$.editarCuenta.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "ingresaDatosOperacion"){
                this.$.wrapperConfirmarOB.classList.toggle('d-none', false);
                this.$.registraCuentaOB.classList.toggle('d-none', true);
              }else if(this.obj_localizacion.nuevaLocacion == "revisarOperacion"){
                this.$.wrapperConfirmarOB.classList.toggle('d-none', true);
                this.$.cuentaRetiro.classList.toggle('d-none', true);
                this.$.reviarAutorizarOB.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "operacionExitosa"){
                this.$.reviarAutorizarOB.classList.toggle('d-none', true);
                this.$.operacionExitosa.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "registrar"){
                this.$.registraCuentaOB.classList.toggle('d-none', true);
                this.$.formularioOtrasCuentas.classList.toggle('d-none', false);
              }
            break;

            //para controlar la seccion de cuentas bancomer
            case "CB":
              if(this.obj_localizacion.nuevaLocacion == "regresar"){
                if(this.obj_localizacion.oldLocacion == "editar"){
                  this.obtenerCatalogoCuentasBancomer();
                  this.$.registraCB.classList.toggle('d-none', false);
                  this.$.editarCuentaCB.classList.toggle('d-none', true);
                  this.$.wrapperIngresarDatosCB.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "ingresaDatosOperacion"){
                  this.$.wrapperIngresarDatosCB.classList.toggle('d-none', true);
                  this.$.registraCB.classList.toggle('d-none', false);
                }else if(this.obj_localizacion.oldLocacion == "revisarOperacion"){
                  this.obj_localizacion.nuevaLocacion = "ingresaDatosOperacion";
                  this.$.wrapperIngresarDatosCB.classList.toggle('d-none', false);
                  this.$.cuentaRetiro.classList.toggle('d-none', false);
                  this.$.renviarAutorizarCB.classList.toggle('d-none', true);
                }else if(this.obj_localizacion.oldLocacion == "operacionExitosa"){
                  var temp = this.cuentaRetiro;
                  this.cuentaRetiro = 1;
                  this.$.cortinaTipoDeposito.classList.toggle('d-none', false);
                  this.$.operacionExitosaCB.classList.toggle('d-none', true);
                  this.$.otrasCuentas.checked = false;
                  this.$.cortinaOtrasCuentas.classList.toggle('d-none', true);
                  this.$.cuentaRetiro.classList.toggle('d-none', false);
                  setTimeout(()=>{
                    this.cuentaRetiro = temp;
                  }, 600);
                }
              }else if(this.obj_localizacion.nuevaLocacion == "editar"){
                this.$.editarCuentaCB.classList.toggle('d-none', false);
                this.$.registraCB.classList.toggle('d-none', true);
              }else if(this.obj_localizacion.nuevaLocacion == "registrar"){
                this.$.registraCB.classList.toggle('d-none', true);
                this.$.formularioCuentasBancomer.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "ingresaDatosOperacion"){
                this.$.wrapperIngresarDatosCB.classList.toggle('d-none', false);
                this.$.registraCB.classList.toggle('d-none', true);
              }else if(this.obj_localizacion.nuevaLocacion == "revisarOperacion"){
                this.$.wrapperIngresarDatosCB.classList.toggle('d-none', true);
                this.$.cuentaRetiro.classList.toggle('d-none', true);
                this.$.renviarAutorizarCB.classList.toggle('d-none', false);
              }else if(this.obj_localizacion.nuevaLocacion == "operacionExitosa"){
                this.$.renviarAutorizarCB.classList.toggle('d-none', true);
                this.$.operacionExitosaCB.classList.toggle('d-none', false);
              }
            break;

          }
        }
      }

      _muestraEditarCuenta(){
        if(this.ir_editar_cuenta == true){
          this.$.registraCuentaOB.classList.toggle('d-none', true);
          this.$.editarCuenta.classList.toggle('d-none', false);
        }
      }

      regresarTiposCuentas(){
        this.$.cortinaTipoDeposito.classList.remove('d-none');
        this.$.cortinaMisCuentas.classList.add('d-none');
        this.$.misCuentas.checked = false;
      }

      formateaEnPesos(eventoBlur){
        var num = eventoBlur.target.value;
        num = num.replace(/,/g, "");
        eventoBlur.target.value = new Intl.NumberFormat().format(num);
      }

    }

    window.customElements.define(TransferenciasApp.is, TransferenciasApp);
  </script>
</dom-module>
