<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="registro-app">

  <template>
    <style>
      :host{
        display: block;
        text-align: center;
      }
      paper-card{
        width: 400px;
        text-align: left;
        padding: 1em;
      }
      paper-card .card-actions{
        padding-top: 1em;
        text-align: right;
      }
      paper-button{
        color: var(--paper-green-500);
      }
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
      paper-card .card-heard img{
        height: 2em;
        width: 2em;
        color: var(--paper-red-50);
        border-radius: 50%;
      }
      paper-card .card-heard{
        font-size: 2em;
        color: var(--paper-grey-700);
      }
    </style>
    <app-location route="{{route}}"></app-location>
    <paper-card elevation="4" animatedShadow="false">
      <div class="card-heard">
        <img src="https://image.flaticon.com/icons/svg/25/25634.svg">
        <span>Registrar Cuenta</span>
      </div>
      <form id="formRegistroUsuario">
        <div class="card-content">
          <paper-input label="Nombre" id="inputNombre" required></paper-input>
          <paper-input label="Apellido" id="inputApellido" required></paper-input>
          <paper-input label="Email" id="inputEmail" required></paper-input>
          <paper-input label="Contraseña" type="password" id="inputPass" required></paper-input>
        </div>
        <div class="card-actions">
          <paper-button raised on-tap="submitForm">Crear</paper-button>
          <paper-button type="reset" on-tap="limpiar">Limpiar</paper-button>
        </div>
      </form>
    </paper-card>
  </template>

  <script>

  class RegistroApp extends Polymer.Element {
    static get is() {
      return 'registro-app';
    }

    static get properties() {
      return {
        algo: {
          type: Object
        }
      }
    }

    submitForm() {
      if (this.$.inputNombre.validate() && this.$.inputApellido.validate() && this.$.inputEmail.validate() && this.$.inputPass.validate()) {
        var promiseCliente = new Promise(function (resolve, reject) {
          var request = new XMLHttpRequest();
          var url = "http://localhost:3002/v2/idCliente";
          request.open("GET", url, true);
          request.onreadystatechange = function(aEvt){
            if (request.readyState == 4 && request.status == 200){
              var array = JSON.parse( request.responseText );
              resolve(array[1]);
            }else {
              console.log("error al consultar cuentas")
            }
          }.bind(this);
          request.send();
        });

        promiseCliente.then(function(valueIdCliente) {
          console.log(valueIdCliente);
          var numeroClienteSiguiente = valueIdCliente + 1;
          this.registrarUsuario(numeroClienteSiguiente);
        }.bind(this));
      }
    }

    registrarUsuario(valueIdCliente) {

      var resposeHTTP = new XMLHttpRequest();
      var url = 'http://localhost:3002/registroUsuario';
      var objLogin = {
        IdCliente : valueIdCliente,
        Nombre: this.$.inputNombre.value,
        Apellido: this.$.inputApellido.value,
        Email: this.$.inputEmail.value,
        Password: this.$.inputPass.value
      }

      resposeHTTP.open('POST', url, true);
      resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
      resposeHTTP.onreadystatechange = function(aEvt){
        if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          alert(resposeHTTP.responseText);
          console.log(resposeHTTP.responseText);
        }else {
          console.log("Error al forcejear con el servidor");
        }
      }
      resposeHTTP.send(JSON.stringify(objLogin));
    }

    limpiar(){
      this.$.inputNombre.value = "";
      this.$.inputApellido.value = "";
      this.$.inputEmail.value = "";
      this.$.inputPass.value = "";
    }


  }

  window.customElements.define(RegistroApp.is, RegistroApp);
  </script>
</dom-module>
