<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="catalogo-otras-cuentas">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>

    #seleccionRegistro{
      display: flex;
      align-items: baseline;
      padding-bottom: 28px;
    }

    paper-button[raised]{
      margin: 0px;
      background-color: var(--paper-green-100);
    }

    #editar img{
      width: 18px;
      cursor:pointer;
    }

    td{
      text-align: center;
    }

    .ilumninar{
      color: var(--paper-blue-500);
      cursor:pointer;
    }

    </style>

    <div class="container">
      <div class="row" >
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div id="seleccionRegistro">
            <span>
              [[leyenda]]
              <paper-button raised on-tap="agregaBeneficiario">[[leyenda_boton]]</paper-button>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive ">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <th scope="col">[[titulos.t1]]</th>
                  <th scope="col">[[titulos.t2]]</th>
                  <th scope="col">[[titulos.t3]]</th>
                  <th scope="col">[[titulos.t4]]</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{catalogo_cuentas}}">
                  <tr>
                    <td>[[item.nombreCorto]]</td>
                    <td><div class="ilumninar" on-click="confirmarPago" candidato=[[item]]>[[item.beneficiario]]</div></td>
                    <td>[[item.numTarjetaCuenta]]</td>
                    <td>
                      <div id="editar" on-click="editarBeneficiario" candidato=[[item]]>
                        <img  candidato=[[item]] src="src/images/edit.svg"/>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </template>
            </table>
          </div>
        </div>
      </div>
     </div>

  </template>

  <script>

  class CatalogoBusquedaRapida extends Polymer.Element {

    static get is() { return 'catalogo-otras-cuentas'; }

    static get properties(){
      return {
        ir_confirmar_pago:{
          type: Boolean,
          value: false,
          notify : true
        },
        titulos: {
          type: Object,
          return: function(){
            return {};
          }
        },
        catalogo_cuentas:{
          type: Array,
          value: function(){
            return [];
          }
        },
        beneficiario_obj: {
          type: Object,
          value: function(){
            return {};
          },
          notify: true
        },
        editar_cuenta : {
          type: Boolean,
          value: false,
          notify : true
        },
        ruteo_interno : {
          type: Object,
          notify: true
        },
        leyenda: {
          type: String
        },
        leyenda_boton: {
          type: String
        }

      }
    }

    agregaBeneficiario(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "registrar");
      this.set('ruteo_interno.active', true);
    }

    confirmarPago(evento){
      this.set('ruteo_interno.nuevaLocacion', "ingresaDatosOperacion");
      var obj1 = evento.target.candidato;
      this.set('beneficiario_obj', obj1);
      this.set('ruteo_interno.active', true);
    }

    editarBeneficiario(evento){
      this.set('ruteo_interno.nuevaLocacion', "editar");
      this.set('ruteo_interno.active', true);
      this.set('beneficiario_obj', evento.target.candidato);
    }

  }
  window.customElements.define(CatalogoBusquedaRapida.is, CatalogoBusquedaRapida);

  </script>

</dom-module>
