<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="operacion-exitosa">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>

    <div>
      <h3>Operación exitosa</h3>
      <div>
        <p>
          <span>Cuenta retiro: </span>
          [[datos_operacio_exitosa.cuentaRetiro]]
        </p>
        <p>
          <span>Cuenta destino: </span>
          [[datos_operacio_exitosa.numTarjetaCuenta]]
        </p>
        <template is="dom-if" if="[[datos_operacio_exitosa.beneficiario]]">
          <p>
            <span>Nombre del beneficiario: </span>
            [[datos_operacio_exitosa.beneficiario]]
          </p>
        </template>
        <template is="dom-if" if="[[datos_operacio_exitosa.nombreCorto]]">
          <p>
            <span>Nombre corto: </span>
            [[datos_operacio_exitosa.nombreCorto]]
          </p>
        </template
        <p>
          <span>Importe: </span>
          $[[datos_operacio_exitosa.importe]]
        </p>
        <template is="dom-if" if="[[datos_operacio_exitosa.concepto]]">
          <p>
            <span>Motivo de pago : </span>
            [[datos_operacio_exitosa.concepto]]
          </p>
        </template>
        <p>
          <span>Feche de operación: </span>
          [[datos_operacio_exitosa.fecha]]
        </p>
        <p>
          <span>Folio de internet: </span>
          [[datos_operacio_exitosa.folioInternet]]
        </p>

      </div>
      <div style="padding-top:10px">
        <paper-button raised on-tap="regresar">Cerrar</paper-button>
      </div>
    </div>

  </template>

  <script>

  class OperacionExitosaApp extends Polymer.Element {

    static get is() { return 'operacion-exitosa'; }

    static get properties(){
      return {
        datos_operacio_exitosa: {
          type: Object
        },
        ruteo_interno : {
          type: Object,
          notify: true
        },
        operacio_exitosa: {
          type: Object
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

  }

  window.customElements.define(OperacionExitosaApp.is, OperacionExitosaApp);

  </script>

</dom-module>
