<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="pagar-otras-cuentas">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>

    .fecha-operacion{
      color: var(--paper-light-blue-a400);
    }
    paper-button[raised]{
      background-color: var(--primary-color);
      color: white;
    }

    #formDatosOperacion input{
      width: 184px;
    }

    </style>

    <div>
      <h4>Ingrese datos de la operación</h4>
      <div>
        <p>
          <span>Cuenta destino: </span>
          [[beneficiario.numTarjetaCuenta]]
        </p>
        <p>
          <span>Banco destino: </span>
          [[beneficiario.bancoDestino]]
        </p>
        <p>
          <span>Nombre del beneficiario: </span>
          [[beneficiario.beneficiario]]
        </p>
      </div>
      <form id="formDatosOperacion">
        <span>Importe: </span>
        <input id="importeIn" type='text' required class="form-control" on-blur="formateaEnPesos"/>
        <span>Referencia: </span>
        <input id="referenciaIn" type='text' required class="form-control" />
        <span>Motivo de pago: </span>
        <input id="motivoPago" type='text' required class="form-control"/>
        <p>
          <span>Fecha de operación: </span>
          <span id="fechaIn" class="fecha-operacion" value=[[fecha_actual]] >[[fecha_actual]]</span>
        </p>
        <div style="padding-top:10px">
          <paper-button raised on-tap="regresar">Atras</paper-button>
          <paper-button raised on-tap="guardarCatalogoOtrasCuentas">Continuar</paper-button>
          <input id="submitOtrosBancos" type="submit" value="depositarOculto" class="d-none buttonSubmit"/>
          <input id="resetAllOB" type="reset" value="resetea todo" class="d-none"/>
        </div>
      </form>
    </div>
  </template>

  <script>
    class CatalogoPagarOtrasCuentas extends Polymer.Element {

      static get is() { return 'pagar-otras-cuentas'; }

      static get properties(){
        return {
          beneficiario: Object,
          value: function(){
            return {};
          },
          fecha_actual:{
            type: String,
            value : function(){
              var today = new Date();
              var dd = today.getDate();
              var mm = today.getMonth()+1; //January is 0!
              var yyyy = today.getFullYear();

              if(dd<10) {
                dd = '0'+dd
              }

              if(mm<10) {
                mm = '0'+mm
              }
              today = dd + '/' + mm + '/' + yyyy;
              return today;
            }
          },
          ruteo_interno: {
            type: Object,
            notify: true
          },
          cuenta_retiro: {
            type : Number
          },
          datos_operacion: {
            type: Object,
            notify: true
          }
        }
      }

      regresar(){
        this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
        this.set('ruteo_interno.nuevaLocacion', "regresar");
        this.set('ruteo_interno.active', true);
      }

      guardarCatalogoOtrasCuentas(){
        if(this.cuenta_retiro != undefined){
          if (this.$.formDatosOperacion.checkValidity()) {
            this.datos_operacion = this.beneficiario;
            this.set("datos_operacion.cuentaRetiro",this.cuenta_retiro);
            this.set("datos_operacion.importe",this.$.importeIn.value);
            this.set("datos_operacion.referencia",this.$.referenciaIn.value);
            this.set("datos_operacion.fecha",this.$.fechaIn.value);
            this.set("datos_operacion.concepto",this.$.motivoPago.value);
            this.$.resetAllOB.click();
            this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
            this.set('ruteo_interno.nuevaLocacion', "revisarOperacion");
            this.set('ruteo_interno.active', true);
          }else{
            this.$.submitOtrosBancos.click();
          }
        }else{
          alert("Es necesario seleccionar la cuenta de retiro");
        }
      }

      formateaEnPesos(){
        var num = this.$.importeIn.value;
        num = num.replace(/,/g, "");
        this.$.importeIn.value = new Intl.NumberFormat().format(num);
      }

    }

    window.customElements.define(CatalogoPagarOtrasCuentas.is, CatalogoPagarOtrasCuentas);
  </script>

</dom-module>
