<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="revisar-operacion">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>

    <div>
      <h3>Revisar y autorizar movimiento</h3>
      <div>
        <p>
          <span>Cuenta retiro: </span>
          [[datos_operacion.cuentaRetiro]]
        </p>
        <p>
          <span>Tipo operación: </span>
          [[datos_operacion.tipoOperacion]]
        </p>
        <p>
          <span>Banco destino: </span>
          [[datos_operacion.bancoDestino]]
        </p>
        <p>
          <span>Cuenta destino: </span>
          [[datos_operacion.numTarjetaCuenta]]
        </p>
        <template is="dom-if" if="[[datos_operacion.beneficiario]]">
          <p>
            <span>Nombre del beneficiario: </span>
            [[datos_operacion.beneficiario]]
          </p>
        </template>
        <template is="dom-if" if="[[datos_operacion.nombreCorto]]">
          <p>
            <span>Nombre corto: </span>
            [[datos_operacion.nombreCorto]]
          </p>
        </template>
        <p>
          <span>Importe: </span>
          $[[datos_operacion.importe]]
        </p>
        <p>
          <span>Fecha de operación: </span>
          [[datos_operacion.fecha]]
        </p>

      </div>
      <div style="padding-top:10px">
        <paper-button raised on-tap="regresar">Atras</paper-button>
        <paper-button raised on-tap="confirmarPago">Confirmar</paper-button>
        <input id="submitOtrosBancos" type="submit" value="depositarOculto" class="d-none buttonSubmit"/>
        <input id="resetAllOB" type="reset" value="resetea todo" class="d-none"/>
      </div>
    </div>

  </template>

  <script>

  class RevisarOperacionApp extends Polymer.Element {

    static get is() { return 'revisar-operacion'; }

    static get properties(){
      return {
        datos_operacion: {
          type: Object
        },
        ruteo_interno : {
          type: Object,
          notify: true
        },
        datos_operacio_exitosa: {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    confirmarPago(){
      var resposeHTTP = new XMLHttpRequest();
      var url = 'http://localhost:3002/inserta/movimiento';

      var idCliente = sessionStorage.getItem("idCliente").replace(/[']/g, "");
      var importe = this.datos_operacion.importe.replace(/,/g, "");

      var objCuentaAfectada = {
        listaMovimientos : {
          cuentaDestino: this.datos_operacion.bancoDestino,
          beneficiario: this.datos_operacion.beneficiario,
          importe : parseFloat(importe) * -1,
          concepto : this.datos_operacion.concepto,
          fecha : this.datos_operacion.fecha,
          tipo : this.datos_operacion.tipoOperacion,
          origen : this.datos_operacion.origenOperacion
        },
        objUpdate : {
          idCuenta: this.datos_operacion.cuentaRetiro,
          cliente: parseInt(sessionStorage.getItem("idCliente"))
        }
      }

      resposeHTTP.open('POST', url, true);
      resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

      resposeHTTP.onreadystatechange = (aEvt) => {
        if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          console.log(resposeHTTP.responseText);
          var jsonResult = JSON.parse( resposeHTTP.responseText );
          if(jsonResult.statusCode == 200){
            objCuentaAfectada.listaMovimientos.folioInternet = jsonResult.folioInternet;
            objCuentaAfectada.listaMovimientos.importe = this.datos_operacion.importe;
            objCuentaAfectada.listaMovimientos.cuentaRetiro = this.datos_operacion.cuentaRetiro;
            objCuentaAfectada.listaMovimientos.nombreCorto = this.datos_operacion.nombreCorto;
            objCuentaAfectada.listaMovimientos.numTarjetaCuenta = this.datos_operacion.numTarjetaCuenta;
            this.set('datos_operacio_exitosa', objCuentaAfectada.listaMovimientos);
            alert("Pago exitoso");
            this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
            this.set('ruteo_interno.nuevaLocacion', "operacionExitosa");
            this.set('ruteo_interno.active', true);
          }else{
            alert("ocurrio un error desconocido " + jsonResult.statusCode);
          }
        }else {
          if(resposeHTTP.readyState == 4){
            //mostrar error al usuario
            alert(resposeHTTP.status);
            console.log("Error al actualizar id movimiento");
          }
        }
      }
      resposeHTTP.send(JSON.stringify(objCuentaAfectada));
    }


  }

  window.customElements.define(RevisarOperacionApp.is, RevisarOperacionApp);

  </script>

</dom-module>
