<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../login-app/login-app.html" />
<link rel="import" href="../login-app/registro-app.html" />
<link rel="import" href="../gestor-cuentas/gestor-cuentas.html" />
<link rel="import" href="../gestor-cuentas/pago-transferencias.html" />
<link rel="import" href="../gestor-cuentas/pago-servicios.html" />
<link rel="import" href="../header-app/header-app.html" />

<dom-module id="router-app-practitioner">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>

      #headerPrincipal {
        background-color:aliceblue;
      }

      :host {
        padding-top: 5.5rem;
        text-rendering: optimizeLegibility;
        line-height: 25.9167px;
        font-family:"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      }
    </style>

    <app-location route="{{route}}"></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}"
      tail="{{tail}}">
    </app-route>

    <div id="headerPrincipal" class="fixed-top">
      <header-app user="{{sesion}}"></header-app>
    </div>

    <iron-pages selected="[[data.page]]" attr-for-selected="page">
      <login-app page="login" usuario="{{sesion}}"></login-app>
      <registro-app page="registro"></registro-app>
      <gestor-cuentas page="cuentas"></gestor-cuentas>
      <pago-transferencias page="transferencias"></pago-transferencias>
      <pago-servicios page="pagoservicios"></pago-servicios>
    </iron-pages>

  </template>
  <script>

    class RouterApp extends Polymer.Element {
      static get is() {
        return 'router-app-practitioner';
      }

      static get properties(){
        return {
          sesion:{
            type: Object,
            value: function() {
              return {}
            }
          },

          route: Object
        }
      }

      mostrarRoute(){
        console.log(this.route);
      }

      cambiarRoute() {
        this.set('route.path', '/registro/66');
      }

      mostrarData() {
        console.log('Data:', this.data);
        console.log('Tail:', this.tail);
      }

      static get observers() {
        return [
          '_routeChanged(route.*)'
        ]
      }

      _routeChanged(changeRecord) {
        var logeado = sessionStorage.getItem("autenticado");
        var objUserResult;
        if(logeado){
          objUserResult = {
            nombre    : sessionStorage.getItem("nombreUser"),
            apellido  : sessionStorage.getItem("apellidoUser"),
            email     : sessionStorage.getItem("userEmail"),
            idCliente : sessionStorage.getItem("idCliente"),
            autent    : sessionStorage.getItem("autenticado")
          }
          this.set("sesion", objUserResult);
        }

        console.log('Data:', this.data);
        console.log('Tail:', this.tail);

        if (this.data.page === 'login' || this.data.page === "" || this.data.page === "registro") {
          console.log('Path changed!');
          if(this.data.page === ""){
            this.set('route.path', '/login');
          }
        }else if(!logeado){
          console.log("necesitas iniciar sesion");
          this.set('route.path', '/login');
        }else{
          //sigue tu camino
        }

      }

    }

    window.customElements.define(RouterApp.is, RouterApp);
  </script>
</dom-module>

<!-- jwt nodejs -->
<!-- https://medium.freecodecamp.org/securing-node-js-restful-apis-with-json-web-tokens-9f811a92bb52 -->
