<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<dom-module id="header-app">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>
      paper-button[raised]{
        color: var(--paper-brown-500);
        text-transform: capitalize;
      }

      .nuevo-ico-menu{
          background-image: url(../images/menu.svg) !important;
      }

      .inicio-header{
        display: flex;
        justify-content: space-between;
        text-align: right;
      }

      #imagenIco{
        align-self: center;
      }

      #imagenIco img{
        width: 89px;
        padding-left: 17px;
      }
    </style>

    <app-location route="{{route}}"></app-location>

    <div id="botoneraHeader" class="">
      <template is="dom-if" if="[[user.autent]]">
        <div class="inicio-header">
          <div id="imagenIco">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Logotipo_de_BBVA.svg/1280px-Logotipo_de_BBVA.svg.png" alt="">
          </div>
          <div>
            <span>[[user.nombre]] [[user.apellido]]</span>
            <paper-button raised on-tap="removerSesion">Cerrar sesión</paper-button>
          </div>
        </div>
        <div class="menu">

          <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
              <div class="bg-dark p-4">
                <paper-button class="text-white" raised on-tap="veamosCuentas">ESTADO DE CUENTAS</paper-button>
                <br />
                <paper-button class="text-white" raised on-tap="veamosTransferencias">TRANSFERENCIAS</paper-button>
                <br />
                <paper-button class="text-white" raised on-tap="veamosPagoServicios">PAGO DE SERVICIOS</paper-button>
              </div>
            </div>
            <nav class="navbar navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" on-click="collapseMenu" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nuevo-ico-menu navbar-toggler-icon"></span>
              </button>
            </nav>
          </div>

        </div>
      </template>
      <template is="dom-if" if="{{!user.autent}}">
        <div class="inicio-header">
          <div id="imagenIco">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Logotipo_de_BBVA.svg/1280px-Logotipo_de_BBVA.svg.png" alt="">
          </div>
          <div>
            <paper-button raised on-tap="iniciarSesion">Iniciar sesión</paper-button>
            <paper-button raised on-tap="registrarUsuario">Registrarse</paper-button>
          </div>
        </div>
      </template>
    </div>

  </template>
  <script>

    class HeaderApp extends Polymer.Element {
      static get is() {
        return 'header-app';
      }

      static get properties(){
        return {
          user :{
            type: Object,
            value: function() {
              return {}
            }
          }
        }
      }

      iniciarSesion(){
        this.set('route.path', '/login');
      }

      registrarUsuario(){
        this.set('route.path', '/registro');
      }

      removerSesion(){
        this.set('user', {});
        sessionStorage.clear();
        this.set('route.path', '/login');
      }

      collapseMenu(){
        this.$.botoneraHeader.children[1].children[0].children[0].classList.toggle("show");
      }

      veamosCuentas(){
        this.set('route.path', '/cuentas');
        this.$.botoneraHeader.children[1].children[0].children[0].classList.toggle("show");
      }

      veamosTransferencias(){
        this.set('route.path', '/transferencias');
        this.$.botoneraHeader.children[1].children[0].children[0].classList.toggle("show");
        location.reload();
      }

      veamosPagoServicios() {
        this.set('route.path', '/pagoservicios');
        this.$.botoneraHeader.children[1].children[0].children[0].classList.toggle("show");
        location.reload();
      }

    }

    window.customElements.define(HeaderApp.is, HeaderApp);

  </script>

</dom-module>
