<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="catalogo-convenios">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }

      .contenedorPaper {
        display: flex;
        justify-content: center;
      }

      .contenedorImagen {
        width: 155px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .contenedorPaper paper-card{
          margin: 5px;
      }

      .contenedorImagen img {
        max-width: 150px;
        max-height: 50px;
      }

      .ilumninar{
        color: var(--paper-blue-500);
        cursor:pointer;
      }

      .regresar{
        text-align: right;
        padding: 32px 0px;
      }
    </style>

    <div>
      <div class="card-content">
        <div class="contenedorPaper">
        <template is="dom-repeat" items={{datos_convenio}}>
          <paper-card elevation="2" animatedShadow="false">
            <div class="">
              <div class="contenedorImagen" on-click="seleccionarConvenio" convenio=[[item]]>
                <img convenio=[[item]] src=[[item.imagen]] />
              </div>
            </div>
          </paper-card>
        </template>
      </div>
      </div>

      <div>
        <div class="regresar">
          <paper-button raised on-tap="regresar">Atras</paper-button>
        </div>
      </div>

    </div>
  </template>

  <script>
  class CatalogoConvenios extends Polymer.Element {

    static get is() { return 'catalogo-convenios'; }

    static get properties(){
      return {
        datos_convenio:{
          type: Array,
          value: function(){
            return []
          }
        },
        ruteo_interno: {
          type: Object,
          notify: true,
          observer: 'obtenerNumeroConvenios'
        },
        empresa_seleccionada: {
          type: Array,
          value: function(){
            return [];
          },
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    obtenerNumeroConvenios(){
      this.set('datos_convenio', []);
      var request = new XMLHttpRequest();
      var url = "http://localhost:3002/get/convenios";
      request.open("GET", url, true);
      request.onreadystatechange = function(aEvt){
        if (request.readyState == 4 && request.status == 200){
          var array = JSON.parse( request.responseText );
          var i=0;
          while(array[i] != "undefined" && array[i] != null){
            this.push('datos_convenio', array[i]);
            i++;
          }
        }else {
          if(request.readyState == 4){
            console.log("error al consultar cuentas" + request.status);
          }
        }
      }.bind(this);

      request.send();
    }

    seleccionarConvenio(evento){
      var itemConvenio = evento.target.convenio;
      this.set('empresa_seleccionada', []);
      var request = new XMLHttpRequest();
      var url;
      var params;

      if(itemConvenio.supplierID != undefined){
        url = "http://localhost:3002/get/empresa/api";
        params = "supplierID=" + itemConvenio.supplierID + "&&numConvenio=" + itemConvenio.numConvenio;
      }else{
        url = "http://localhost:3002/get/empresa";
        params = "numConvenio=" + '"' + itemConvenio.numConvenio + '"';
      }

      request.open("GET", url + "?" + params, true);
      request.onreadystatechange = function(aEvt){
        if (request.readyState == 4 && request.status == 200){
          var array = JSON.parse( request.responseText );
          var i=0;
          while(array[i] != "undefined" && array[i] != null){
            array[i].imagen = itemConvenio.imagen;
            this.push('empresa_seleccionada', array[i]);
            i++;
          }
          this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
          this.set('ruteo_interno.nuevaLocacion', "convenios");
          this.set('ruteo_interno.active', true);
        }else {
          if(request.readyState == 4){
            console.log("error al consultar cuentas" + request.status);
          }
        }
      }.bind(this);

      request.send();
    }

  }
  window.customElements.define(CatalogoConvenios.is, CatalogoConvenios);
  </script>

</dom-module>
