<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="editar-pago-servicio">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>

    <div>
      <form id="formCuentas">
        <div>
          <p>
            <span>Nombre de la empresa: [[beneficiario.razonSocial]]</span>
          </p>
          <p>
            <span>Número de convenio: [[beneficiario.numConvenio]]</span>
          </p>
          <p>
            <span>Referencia: [[beneficiario.referencia]]</span>
          </p>
          <p>
            <span>Nombre comercial: [[beneficiario.nombreComercial]]</span>
          </p>
        </div>
        <span>Nombre Corto: </span>
        <input id="nombreCorto" type='text' class="form-control" value="{{beneficiario.nombreCorto}}" required/>
        <div style="padding-top:10px; text-align: right;">
          <paper-button raised on-tap="regresar">Atras</paper-button>
          <paper-button raised on-tap="guardarCambios">Guardar</paper-button>
          <input id="submit" type="submit" value="GuardarOculto" class="d-none buttonSubmit"/>
          <input id="resetAll" type="reset" value="resetea todo" class="d-none"/>
        </div>
      </form>
    </div>

  </template>

  <script>

  class EditarPagoServicio extends Polymer.Element {

    static get is() { return 'editar-pago-servicio'; }

    static get properties(){
      return {
        beneficiario: {
          type: Object,
          value: function(){
            return {};
          }
        },
        ruteo_interno: {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    guardarCambios(){
      var resposeHTTP = new XMLHttpRequest();
      var url = 'http://localhost:3002/actualizar/catalogo/pago/servicios';
      var idCliente = parseInt(sessionStorage.getItem("idCliente"));

      this.beneficiario.nombreCorto = this.$.nombreCorto.value;
      var objCuentaActualizar = {
        update : this.beneficiario,
        datosAcceso : {
          idCliente : idCliente,
          referencia: this.beneficiario.referencia
        }
      }

      resposeHTTP.open('POST', url, true);
      resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

      resposeHTTP.onreadystatechange = (aEvt) => {
        if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          console.log(resposeHTTP.responseText);
          var jsonResult = JSON.parse( resposeHTTP.responseText );
          if(jsonResult.statusCode == 200){
            alert("Nombre actualizado correctamente");
            this.regresar();
          }
        }else {
          if(resposeHTTP.readyState == 4){
            //mostrar error al usuario
            alert("error al actualizar" + resposeHTTP.status);
            console.log("Error al actualizar");
          }
        }
      }

      resposeHTTP.send(JSON.stringify(objCuentaActualizar));
    }

  }
  window.customElements.define(EditarPagoServicio.is, EditarPagoServicio);
  </script>

</dom-module>
