<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../panel-menu/panel-menu.html" />

<dom-module id="ingresar-datos-operacion">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>

    paper-button[raised]{
      background-color: var(--primary-color);
      color: white;
    }

    #convenio{
      padding-top: 25px;
    }

    </style>

    <div class="container">
      <h4>Ingresa los datos de la operación</h4>
      <section class="row">
        <div class="col-xs-5 col-sm-9 col-md-6 col-lg-4">
          <span>Seleccione la cuenta de retiro : </span>
          <div class="row">
            <div class="col-3 col-sm-3 col-md-4 col-lg-4">
              <panel-menu cuenta="{{cuentaRetiro}}"></panel-menu>
            </div>
            <div class="col-9 col-sm-9 col-md-8 col-lg-8">
              <span> [[cuentaRetiro]] - $[[importeCuenta]] - M.N</span>
            </div>
          </div>
          <span>Fecha de operación: </span>
          <span id="fechaIn" class="fecha-operacion" value=[[fecha_actual]] >[[fecha_actual]]</span>
          <form id="formDatosOperacion">
            <span>Importe: </span>
            <div class="row">
              <div class="col-7 col-sm-6 col-md-7 col-lg-8">
                <input id="importePS" required type='text' class="form-control" on-blur="formateaEnPesos"/>
              </div>
              <div class="col-5 col-sm-6 col-md-5 col-lg-4">
                <span>M.N</span>
              </div>
            </div>
            <div>
              <input id="submitPS" type="submit" value="depositarOculto" class="d-none"/>
              <input id="resetAllPS" type="reset" value="resetea todo" class="d-none"/>
            </div>
          </form>
        </div>
      </section>

      <section id="convenio">
        <h5>Datos de pago de servicio (convenio)</h5>
        <div>
          <p>
            <span>Nombre de la empresa: </span>
            [[empresa_a_depositar.razonSocial]]
          </p>
          <p>
            <span>Número convenio: </span>
            [[empresa_a_depositar.numConvenio]]
          </p>
          <p>
            <span>Referencia: </span>
            [[empresa_a_depositar.referencia]]
          </p>
          <p>
            <span>Moneda del convenio: Pesos</span>
          </p>
        </div>

        <div style="padding-top:10px">
          <paper-button raised on-tap="regresar">Atras</paper-button>
          <paper-button raised on-tap="guardarEmpresa">Continuar</paper-button>
        </div>
      </section>

    </div>

  </template>

  <script type="text/javascript">
  class IngresaDatosOperacion extends Polymer.Element {

    static get is() { return 'ingresar-datos-operacion'; }

    static get properties(){
      return {
        ruteo_interno: {
          type: Object,
          notify: true
        },
        empresa_a_depositar: {
          type: Object,
          notify: true
        },
        cuentaRetiro : {
          type : Number,
          observer: '_cuentaRetiroCambio'
        },
        importeCuenta : {
          type: Number
        },
        fecha_actual:{
          type: String,
          value : function(){
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //Enero es 0!
            var yyyy = today.getFullYear();

            if(dd<10) {
              dd = '0'+dd
            }

            if(mm<10) {
              mm = '0'+mm
            }
            today = dd + '/' + mm + '/' + yyyy;
            return today;
          }
        },
        pago_servicio : {
          type: Object,
          notify: true
        }
      }
    }

    _cuentaRetiroCambio(newValue, oldValue){
      var request = new XMLHttpRequest();
      var url = "http://localhost:3002/v2/cuentas/importe/total";
      var params = "cuenta=" + newValue + "&cliente=" + sessionStorage.getItem("idCliente");
      request.open("GET", url+"?"+params , true);
      request.onreadystatechange = (aEvt) => {
        if(request.readyState == 4 && request.status == 200){
          var jsonObj = JSON.parse( request.responseText );
          var totalImporte = parseFloat(jsonObj.total);
          this.importeCuenta = new Intl.NumberFormat().format(totalImporte);
        }else{
          console.log("Error al calcular importe");
        }
      }
      request.send();
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    guardarEmpresa(){
      if(this.cuentaRetiro == undefined){
        alert("Es necesario seleccionar la cuenta de retiro");
        return;
      }

      if (this.$.formDatosOperacion.checkValidity()) {
        this.set('pago_servicio', this.empresa_a_depositar);
        this.limpiarEmpresaBeneficiada();
        this.set('pago_servicio.concepto', "Pago servicio");
        this.set('pago_servicio.importe', this.$.importePS.value);
        this.set('pago_servicio.fecha', this.fecha_actual);
        this.set('pago_servicio.tipo', "Pago de servicios/convenio");
        this.set('pago_servicio.cuentaRetiro', this.cuentaRetiro);
        this.set('pago_servicio.origen', "Pago de servicios");
        this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
        this.set('ruteo_interno.nuevaLocacion', "revisarAutorizar");
        this.set('ruteo_interno.active', true);
      }else{
        this.$.submitPS.click();
      }
    }

    limpiarEmpresaBeneficiada(){
      delete this.pago_servicio.nombreCorto;
      delete this.pago_servicio.beneficiario;
      delete this.pago_servicio.numTarjetaCuenta;
    }

    formateaEnPesos(eventoBlur){
      var num = eventoBlur.target.value;
      num = num.replace(/,/g, "");
      eventoBlur.target.value = new Intl.NumberFormat().format(num);
    }

  }

  window.customElements.define(IngresaDatosOperacion.is, IngresaDatosOperacion);
  </script>

</dom-module>
