<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="operacion-exitosa-ps">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>

    <div>
      <h3>Operación exitosa</h3>
      <div>
        <p>
          <span>Cuenta retiro: </span>
          [[datos_operacio_exitosa.cuentaRetiro]]
        </p>
        <p>
          <span>Referencia: </span>
          [[datos_operacio_exitosa.referencia]]
        </p>
        <p>
          <span>Razón social: </span>
          [[datos_operacio_exitosa.razonSocial]]
        </p>
        <p>
          <span>Importe: </span>
          $[[datos_operacio_exitosa.importe]]
        </p>
        <p>
          <span>Motivo de pago : </span>
          [[datos_operacio_exitosa.concepto]]
        </p>
        <p>
          <span>Feche de operación: </span>
          [[datos_operacio_exitosa.fecha]]
        </p>
        <p>
          <span>Folio de internet: </span>
          [[datos_operacio_exitosa.folioInternet]]
        </p>

      </div>
      <div style="padding-top:10px">
        <paper-button raised on-tap="regresar">Cerrar</paper-button>
      </div>
    </div>

  </template>

  <script>

  class OperacionExitosaPSApp extends Polymer.Element {

    static get is() { return 'operacion-exitosa-ps'; }

    static get properties(){
      return {
        datos_operacio_exitosa: {
          type: Object,
          notify: true
        },
        ruteo_interno : {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('datos_operacio_exitosa', {});
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

  }

  window.customElements.define(OperacionExitosaPSApp.is, OperacionExitosaPSApp);

  </script>

</dom-module>
