<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../panel-menu/panel-menu.html" />
<link rel="import" href="../pago-servicio/catalogo-convenios.html" />

<dom-module id="pre-registro">
<link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style media="screen">

    paper-button[raised]{
      background-color: var(--primary-color);
      color: white;
    }

    #editar img{
      max-width: 130px;
      max-height: 30px;
    }

    table {
      text-align: center;
    }

    .ilumninar{
      color: var(--paper-blue-500);
      cursor:pointer;
    }

    .regresar{
      text-align: right;
      padding: 32px 0px;
    }

    </style>

    <div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="table-responsive ">
            <table class="table table-hover">
                <thead class="thead-dark">
                  <th scope="col">Nombre comercial</th>
                  <th scope="col">Razón social</th>
                  <th scope="col">Convenio</th>
                  <th scope="col">Cobertura/Ciudad</th>
                  <th scope="col">Tipo de pago</th>
                </thead>
                <tbody>
                  <template is="dom-repeat" items="{{empresa_seleccionada}}">
                  <tr>
                    <td>
                      <div id="editar">
                        <img src=[[item.imagen]] />
                        <span class="ilumninar" on-click="seleccionarEmpresa" candidato=[[item]]>
                          [[item.nombreComercial]]
                        </span>
                      </div>
                    </td>
                    <td>
                      [[item.razonSocial]]
                    </td>
                    <td>[[item.numConvenio]]</td>
                    <td>
                      [[item.coberturaOCiudad]]
                    </td>
                    <td>
                      [[item.tipoPago]]
                    </td>
                  </tr>
                </tbody>
              </template>
            </table>
          </div>
        </div>
      </div>
      <div>
        <div class="regresar">
          <paper-button raised on-tap="regresar">Atras</paper-button>
        </div>
      </div>
    </div>

  </template>

  <script type="text/javascript">

  class PreRegistro extends Polymer.Element {

    static get is() { return 'pre-registro'; }

    static get properties() {
      return {
        empresa_seleccionada:{
          type: Array,
          value: function(){
            return [];
          }
        },
        ruteo_interno: {
          type: Object,
          notify: true
        },
        agregar_empresa: {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    seleccionarEmpresa(evento){
      this.set('agregar_empresa', {});
      var objEmpresaCandidata = evento.target.candidato;
      this.set('agregar_empresa', objEmpresaCandidata);
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "registrarEmpresa");
      this.set('ruteo_interno.active', true);
    }

  }

  window.customElements.define(PreRegistro.is, PreRegistro);
  </script>

</dom-module>
