<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="registrar-empresa">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>

    paper-button[raised]{
      background-color: var(--primary-color);
      color: white;
    }

    #referencia{
      width: 209px;
    }

    </style>

    <div>
      <h4>Ingresar datos del registro</h4>
      <div>
        <p>
          <span>Nombre de la empresa: </span>
          [[agregar_empresa.razonSocial]]
        </p>
        <p>
          <span>Número de convenio: </span>
          [[agregar_empresa.numConvenio]]
        </p>
      </div>
      <form id="formDatosOperacion">
        <span>[[agregar_empresa.etiquetaReferencia]]: </span>
        <input id="referencia" type='text' required class="form-control"/>
        <div style="padding-top:10px">
          <paper-button raised on-tap="regresar">Atras</paper-button>
          <paper-button raised on-tap="guardarDatos">Continuar</paper-button>
          <input id="submitPS" type="submit" value="depositarOculto" class="d-none buttonSubmit"/>
          <input id="resetAllPS" type="reset" value="resetea todo" class="d-none"/>
        </div>
      </form>
    </div>

  </template>

  <script type="text/javascript">
  class RegistrarEmpresa extends Polymer.Element {

    static get is() { return 'registrar-empresa'; }

    static get properties(){
      return {
        ruteo_interno: {
          type: Object,
          notify: true
        },
        agregar_empresa: {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    guardarDatos(){
      if (this.$.formDatosOperacion.checkValidity()) {
        this.set("agregar_empresa.referencia",this.$.referencia.value);
        this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
        this.set('ruteo_interno.nuevaLocacion', "resultadoRegistroConvenio");
        this.set('ruteo_interno.active', true);
      }else{
        this.$.submitPS.click();
      }
    }

  }

  window.customElements.define(RegistrarEmpresa.is, RegistrarEmpresa);
  </script>

</dom-module>
