<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="resultado-registro-convenio">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>
    <style>

    paper-button[raised]{
      background-color: var(--primary-color);
      color: white;
    }

    </style>

    <div>
      <h4>Resultado del registro</h4>
      <div class="">
        <p>
          <span>Nombre de la empresa: </span>
          [[agregar_empresa.razonSocial]]
        </p>
        <p>
          <span>Número convenio: </span>
          [[agregar_empresa.numConvenio]]
        </p>
        <p>
          <span>Referencia: </span>
          [[agregar_empresa.referencia]]
        </p>
      </div>
      <div style="padding-top:10px">
        <paper-button raised on-tap="regresar">Atras</paper-button>
        <paper-button raised on-tap="guardarEmpresa">Confirmar</paper-button>
      </div>
    </div>

  </template>

  <script type="text/javascript">
  class ResultadoRegistro extends Polymer.Element {

    static get is() { return 'resultado-registro-convenio'; }

    static get properties(){
      return {
        ruteo_interno: {
          type: Object,
          notify: true
        },
        agregar_empresa: {
          type: Object,
          notify: true
        },
        empresa_a_depositar: {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    guardarEmpresa(){
      var resposeHTTP = new XMLHttpRequest();
      var url = 'http://localhost:3002/guardar/pago/servicio';

      var objRequest = {
        objEmpresa : {
          idCliente: parseInt(sessionStorage.getItem("idCliente")),
          coberturaOCiudad: this.agregar_empresa.coberturaOCiudad,
          etiquetaReferencia: this.agregar_empresa.etiquetaReferencia,
          imagen: this.agregar_empresa.imagen,
          nombreComercial: this.agregar_empresa.nombreComercial,
          numConvenio: this.agregar_empresa.numConvenio,
          razonSocial: this.agregar_empresa.razonSocial,
          referencia: this.agregar_empresa.referencia,
          tipoPago: this.agregar_empresa.tipoPago,
          nombreCorto: this.agregar_empresa.nombreComercial,
        }
      }

      resposeHTTP.open('POST', url, true);
      resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

      resposeHTTP.onreadystatechange = (aEvt) => {
        if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          console.log(resposeHTTP.responseText);
          var jsonResult = JSON.parse( resposeHTTP.responseText );
          if(jsonResult.statusCode == 200){
            this.set('agregar_empresa', {});
            this.set('empresa_a_depositar', objRequest.objEmpresa);
            alert("se agrego convenio");
            this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
            this.set('ruteo_interno.nuevaLocacion', "ingresaDatosOperacion");
            this.set('ruteo_interno.active', true);
          }else{
            alert("ocurrio un error desconocido " + jsonResult.statusCode);
          }
        }else {
          if(resposeHTTP.readyState == 4){
            //mostrar error al usuario
            alert(resposeHTTP.status);
            console.log("Error al guardar convenio");
          }
        }
      }
      resposeHTTP.send(JSON.stringify(objRequest));
    }

  }

  window.customElements.define(ResultadoRegistro.is, ResultadoRegistro);
  </script>

</dom-module>
