<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="revisar-operacion-pago-servicios">
  <link rel="import" type ="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <template>

    <style>
      paper-button[raised]{
        background-color: var(--primary-color);
        color: white;
      }
    </style>

    <div>
      <h3>Revisar y autorizar la operación</h3>
      <div>
        <p>
          <span>Nombre de la empresa: </span>
          [[datos_operacion.razonSocial]]
        </p>
        <p>
          <span>Número de convenio: </span>
          [[datos_operacion.numConvenio]]
        </p>
        <p>
          <span>Moneda del convenio: Pesos </span>
        </p>
        <p>
          <span>Referencia: </span>
          [[datos_operacion.referencia]]
        </p>
        <p>
          <span>Importe: </span>
          $[[datos_operacion.importe]]
        </p>
        <p>
          <span>Feche de operación: </span>
          [[datos_operacion.fecha]]
        </p>

      </div>
      <div style="padding-top:10px">
        <paper-button raised on-tap="regresar">Atras</paper-button>
        <paper-button raised on-tap="confirmarPago">Confirmar</paper-button>
      </div>
    </div>

  </template>

  <script>

  class RevisarOperacionPSApp extends Polymer.Element {

    static get is() { return 'revisar-operacion-pago-servicios'; }

    static get properties(){
      return {
        datos_operacion: {
          type: Object
        },
        ruteo_interno : {
          type: Object,
          notify: true
        },
        datos_operacio_exitosa: {
          type: Object,
          notify: true
        }
      }
    }

    regresar(){
      this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
      this.set('ruteo_interno.nuevaLocacion', "regresar");
      this.set('ruteo_interno.active', true);
    }

    confirmarPago(){
      var resposeHTTP = new XMLHttpRequest();
      var url = 'http://localhost:3002/inserta/movimiento';

      var idCliente = sessionStorage.getItem("idCliente").replace(/[']/g, "");
      var importe = this.datos_operacion.importe.replace(/,/g, "");

      var obj1 = {
        cuentaDestino: this.datos_operacion.referencia,
        beneficiario: this.datos_operacion.razonSocial,
        importe : parseFloat(importe) * -1,
        concepto : this.datos_operacion.concepto,
        fecha : this.datos_operacion.fecha,
        tipo : this.datos_operacion.tipo,
        origen : this.datos_operacion.origen
      }
      this.datos_operacion.importe = obj1.importe;
      var obj2 = this.datos_operacion;
      var listaMovimientos = Object.assign({}, obj1, obj2);
      delete listaMovimientos.cuentaRetiro;
      delete listaMovimientos._id;

      var objCuentaAfectada = {
        listaMovimientos,
        objUpdate : {
          idCuenta: this.datos_operacion.cuentaRetiro,
          cliente: parseInt(sessionStorage.getItem("idCliente"))
        }
      }


      resposeHTTP.open('POST', url, true);
      resposeHTTP.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

      resposeHTTP.onreadystatechange = (aEvt) => {
        if (resposeHTTP.readyState == 4 && resposeHTTP.status == 200){
          console.log(resposeHTTP.responseText);
          var jsonResult = JSON.parse( resposeHTTP.responseText );
          if(jsonResult.statusCode == 200){
            this.set('datos_operacio_exitosa.folioInternet', jsonResult.folioInternet);
            var importe = this.datos_operacion.importe * -1;
            this.set('datos_operacio_exitosa.importe', new Intl.NumberFormat().format(importe));
            this.set('datos_operacio_exitosa.cuentaRetiro', this.datos_operacion.cuentaRetiro);
            this.set('datos_operacio_exitosa.nombreCorto', this.datos_operacion.nombreCorto);
            this.set('datos_operacio_exitosa.referencia', this.datos_operacion.referencia);
            this.set('datos_operacio_exitosa.razonSocial', this.datos_operacion.razonSocial);
            this.set('datos_operacio_exitosa.concepto', this.datos_operacion.concepto);
            this.set('datos_operacio_exitosa.fecha', this.datos_operacion.fecha);
            this.set('datos_operacion', {});
            alert("Se realizo la operacion correctamente");
            this.set('ruteo_interno.oldLocacion', this.ruteo_interno.nuevaLocacion);
            this.set('ruteo_interno.nuevaLocacion', "operacionExitosa");
            this.set('ruteo_interno.active', true);
          }else{
            alert("ocurrio un error desconocido " + jsonResult.statusCode);
          }
        }else {
          if(resposeHTTP.readyState == 4){
            //mostrar error al usuario
            alert(resposeHTTP.status);
            console.log("Error al actualizar id movimiento");
          }
        }
      }
      resposeHTTP.send(JSON.stringify(objCuentaAfectada));
    }


  }

  window.customElements.define(RevisarOperacionPSApp.is, RevisarOperacionPSApp);

  </script>

</dom-module>
